.knobjs-bg {fill: rgba(0,0,0,0);}
.knobjs-arcbg {fill: rgba(0,0,0,0); stroke-width:0.1; stroke: #555;}
.knobjs-arc {fill:#FFFFFF;}

x-knobjs-knob {
    display: inline-block;
    height: 100px;
    width: 100px;
    color: #FF0000;
}

label {
    width:100px;
    display: inline-block;
}

.container {
    width: 600px;
    margin: 40px auto;
}

body {
    text-align: center;
}


